body {
background-color: whitesmoke;
}


.App {
  
  
}
.App h1 {

text-align: center;
font-size: 40px;
color: rgb(56, 56, 56);
border-radius: 10px;
box-shadow: gray 2px 2px 3px 3px;
background-color: white;
width: fit-content;
padding: 10px;
margin-left: auto;
margin-right: auto;


}

.balance {


 background-color: white;
 box-shadow: gray 2px 2px 3px 3px;
 border: none;
 border-radius: 20px;
 width: 200px;
 height: 50px;
 padding: 10px;
 margin: auto;
   
}

.balance h2 {
 
  color: rgb(56, 56, 56);
  font-size: 20px;
  
}


.balance span {

  color: rgb(92, 92, 92);
  font-size: 30px;
  font-weight: bolder;
  border: none white;
  border-radius: 10px;
  padding: 10px;
  background-color: yellowgreen;
  box-shadow: gray 2px 2px 3px 3px;

 
}

.add {
  
  color: rgb(56, 56, 56);
  display: flex;
  margin-top: 60px;

  
}

.income {
          

box-shadow: gray 2px 2px 3px 3px;
border-top: solid 3px green;
border-radius: 10px;
background-color: white;
padding: 5px;
margin: auto;
width: 200px;



}
.expense {
          

  box-shadow: gray 2px 2px 3px 3px;
  border-top: solid 3px red;
  border-radius: 10px;
  background-color: white;
  padding: 5px;
  margin: auto;
  width: 200px;
  
  
  }

.income span {

  font-size: 30px;
  color: green;
  font-weight: bolder;
  border: solid;
  background-color: white;
  border-color: white;
  border-radius: 10px;
  padding: 5px;
  box-shadow: gray 2px 2px 3px 3px;
}

.expense span {

  font-size: 30px;
  color: red;
  font-weight: bolder;
  border: solid;
  background-color: white;
  border-color: white;
  border-radius: 10px;
  padding: 5px;
  box-shadow: gray 2px 2px 3px 3px;
}

.form {

  
  color: rgb(56, 56, 56);
  margin-top: 30px;
  display: flex;
  
}

.plus  {

text-align: center;
box-shadow: gray 2px 2px 3px 3px;
border-top: solid 3px green;
border-radius: 10px;
background-color: white;
padding: 5px;
width: 300px;
margin: auto;

}

.plus input {

  width: 80px;
}

.minus {

text-align: center;
box-shadow: gray 2px 2px 3px 3px;
border-top: solid 3px red;
border-radius: 10px;
background-color: white;
padding: 5px;
width: 300px;
margin: auto;
}

.minus input {

  width: 80px;
}

.plus-btn {

  
  font-size: 20px;
  box-shadow: gray 2px 2px 2px 2px;
  border-radius: 10px;
  cursor: pointer;
}
.minus-btn {

  font-size: 20px;
  box-shadow:gray 2px 2px 2px 2px;
  border-radius: 10px;
  cursor: pointer;
}

.foot {

  background-color: white;
  margin-top: 30px;
  font-size: 20px;
  color: rgb(56, 56, 56);
  border-radius: 10px;
  box-shadow: gray 2px 2px 3px 3px;
  width: fit-content;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.del-btn {

float: left;
color: crimson;
background-color: rgb(253, 253, 1);
margin-right: 5px;
}

.list {

  list-style: none;
  text-align: left;
 
}
.li {
  
  /* background-color: white;
  border: none;
  border-radius: 5px; */
  
  
  

}

.li span {
    
  float: right;
 
}