body {
background-color: whitesmoke;
}


.App {
  
  
}
.App h1 {

text-align: center;
font-size: 40px;
color: rgb(56, 56, 56);
border-radius: 10px;
box-shadow: gray 2px 2px 3px 3px;
background-color: white;
width: fit-content;
padding: 10px;
margin-left: auto;
margin-right: auto;


}

.balance {

 text-align: center; 
 background-color: white;
 box-shadow: gray 2px 2px 3px 3px;
 border: none;
 border-radius: 10px;
 width: 200px;
 padding: 2px;
 margin: auto;
   
}

.balance h2 {
 
  color: rgb(56, 56, 56);
  font-size: 20px;
  
}


.balance span {

  color: rgb(92, 92, 92);
  font-size: 30px;
  font-weight: bolder;
  border: none white;
  border-radius: 10px;
  padding: 10px;
  background-color: yellowgreen;
  box-shadow: gray 2px 2px 3px 3px;
  
 
}

.inc-exp {
  
  color: rgb(56, 56, 56);
  display: flex;
  margin-top: 40px;
  
}

.income {
          

box-shadow: gray 2px 2px 3px 3px;
border-top: solid 3px green;
border-radius: 10px;
background-color: white;
padding: 5px;
margin: auto;
width: 200px;



}
.expense {
          

  box-shadow: gray 2px 2px 3px 3px;
  border-top: solid 3px red;
  border-radius: 10px;
  background-color: white;
  padding: 5px;
  margin: auto;
  width: 200px;
  
  
  }

.income span {

  font-size: 20px;
  color: green;
  font-weight: bolder;
  border-top: solid 2px green;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  box-shadow: gray 2px 2px 3px 3px;
  margin-left: 10px;
  
}

.expense span {

  font-size: 20px;
  color: red;
  font-weight: bolder;
  border-top: solid 2px red;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  box-shadow: gray 2px 2px 3px 3px;
  margin-left: 10px;
}

.form {

  color: rgb(56, 56, 56);
  margin-top: 30px;
  display: flex;
  
}

.plus  {

box-shadow: gray 2px 2px 3px 3px;
border-top: solid 3px green;
border-radius: 10px;
background-color: white;
padding: 5px;
width: 200px;
margin: auto;
}

.plus input {

  width: 100px;
  float: right;
}

.plus h3 {

  text-align: center;
}

.minus {

box-shadow: gray 2px 2px 3px 3px;
border-top: solid 3px red;
border-radius: 10px;
background-color: white;
padding: 5px;
width: 200px;
margin: auto;
}

.minus input {

  width: 100px;
  float: right;
}
.minus h3 {

  text-align: center;
}

.plus-btn {

  color: white;
  font-size: 10px;
  font-weight: bolder;
  box-shadow: gray 2px 2px 2px 0px;
  border-radius: 10px;
  cursor: pointer;
  background-color: green;
  
}
.minus-btn {

  color: white;
  font-size: 10px;
  font-weight: bolder;
  box-shadow:gray 2px 2px 2px 0px;
  border-radius: 10px;
  cursor: pointer;
  background-color: red;
}

.foot {

  background-color: white;
  margin-top: 30px;
  font-size: 20px;
  color: rgb(56, 56, 56);
  border-radius: 10px;
  box-shadow: gray 2px 2px 3px 3px;
  width: fit-content;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.del-btn {

float: left;
color: crimson;
background-color: rgb(253, 253, 1);
margin-right: 5px;
}

.list {

  list-style: none;
  text-align: left;
 
}
.li {
  
  /* background-color: white;
  border: none;
  border-radius: 5px; */
  
  
  

}

.li span {
    
  float: right;
 
}